<!DOCTYPE HTML>
<html>

<head>
  <title>实时监控-专送</title>
  <!-- 各自页面使用的css文件，需放置在header.htm之前 -->
  <!-- <link rel="stylesheet" href="/static/page/monitor/page-style.css" /> -->
  <!--#include file="/page/inc/header.htm"-->

  <!-- 开发页面部分start -->
  <div id="main">
    <!-- <keep-alive>
      <router-view></router-view>
    </keep-alive> -->
  </div>
  <!-- 开发页面部分end -->
  <!-- <script type="text/javascript" src="/static/lib/highcharts/stock/highstock.js"></script>
  <script type="text/javascript" src="/static/lib/highcharts/highcharts-more.js"></script>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=820afe3932ebea15d73cd05b2a28e606"></script>
  <script type="text/javascript" src="/dist/page/monitor/page-entry.pack.js"></script> -->
  <!--#include file="/page/inc/footer.htm"-->
