/**
  * 调度中心 - 实时监控
  * 2017-05-02
  */

import Vue from '../../lib/vue/vue2'
import store from './store/index'
import router from './router/index'
import * as types from './constants/types'

import Filters from './components/filters.vue'
import Nav from './components/nav.vue'
import dataCover from './components/data-cover.vue'
Vue.component(Filters.name, Filters)
Vue.component(Nav.name, Nav)
Vue.component(dataCover.name, dataCover)

Vue.filter('splitThousand', (value) => {
  return value.toString().replace(/(?=(?!\b)(\d{3})+$)/g, ',')
})

const App = new Vue({
  el: '#main',
  store,
  router,
  // 模板编译/挂载之后
  mounted: function () {
    // 保证 this.$el 已经插入文档
    this.$nextTick(function() {
      // highchart 初始化
      this.initChart()
      // 事件绑定
      this.initEvent()
    })
  },
  created(){
    // 专送 or 众包
    let pageType = location.pathname === '/monitor/zb' ? 'zb' : 'index'
    this.$store.commit(types.SET_PAGE_TYPE, pageType);
    this.$store.commit(types.SET_FILTER_VALUE, {
      name: 'type',
      value: pageType === 'zb' ? 4 : -1
    });
  },
  methods: {
    initChart() {
      Highcharts.setOptions({
        lang: {
          resetZoom: "还原",
          resetZoomTitle: '还原为全部展示'
        },
        chart: {
          spacingTop: 20,
          spacingLeft: 20,
          spacingRight: 20,
          style: {
            color: "#777",
            fontFamily: "'microsoft yahei', Arial, Helvetica, sans-serif"
          }
        },
        xAxis: {
          labels: {
            style: {
              color: "#666",
              fontFamily: "'microsoft yahei', Arial, Helvetica, sans-serif"
            }
          }
        },
        yAxis: {
          labels: {
            style: {
              color: "#666",
              fontFamily: "'microsoft yahei', Arial, Helvetica, sans-serif"
            }
          }
        },
        credits: {
          enabled: false
        },
        legend: {
          itemStyle: {
            color: "#666",
            fontSize: "12px",
            fontFamily: "'microsoft yahei', Arial, Helvetica, sans-serif",
            fontWeight: 'normal'
          },
          symbolWidth: 12,
          symbolHeight: 12
        }
      })
    },
    initEvent(){
      let self = this
      // 左上角菜单切换的时候使用
      $(document).on('click', 'j-toggle-menu', () => {
        setTimeout(function() {
          $(window).resize()
        }, 0)
      })
      // resize
      $(window).bind('resize', function() {
        $('.chart').highcharts() && $('.chart').highcharts().reflow()
        self.$store.dispatch(types.RESIZE_MODAL_TABLE)
      })
    }
  }
})
